body {
  background-color: gray;
  /* font-family: Arial, Helvetica, sans-serif; */
}

/*
header {
  background-color: rgb(81, 81, 81);
}

span {
  background-color: lightgreen;
}

*/
footer {
  /* background-color: rgb(81, 81, 81); */
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

img {
  width: 100%;
}

label.error {
  color: #ffc107;
}

label.valid {
  color: #0ae323;
}